.container{
display: flex;
justify-content: center;
}
.input__Add{
  width: 50vw;
  height: 5vh;
  color: #ffffff;
  font-size: xx-large;
  background-color: #353a94;
  border: #242424;
}
.btn__Add{
  width: 5vw;
  height: 5vh;
 border: #242424 4px solid;
  background-color: blueviolet;
}
