@tailwind base;
@tailwind components;
@tailwind utilities;
.token {
}
.keyword {
  color: red;
}
.operator {
  color: cadetblue;
}
.number {
  color: green;
}
.punctuation {
  color: chocolate;
}
.parameter {
  color: rgb(255, 222, 8);
}
.string {
  color: green;
}
